<!DOCTYPE HTML>
<!--
Design by Free Responsive Templates
http://www.free-responsive-templates.com
Released for free under a Creative Commons Attribution 3.0 Unported License (CC BY 3.0) 
-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Festival Bajo Pasakayyang 2015</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
<script type="text/javascript"  src="source/jquery.fancybox.js"></script>
<link rel="stylesheet" type="text/css" href="source/jquery.fancybox.css" media="screen" />
<script type="text/javascript" src="source/helpers/jquery.fancybox-media.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

			/*
			 *  Different effects
			 */
			 
			
			// Change title type, overlay closing speed
			$(".fancybox-effects-a").fancybox({
				helpers: {
					title : {
						type : 'outside'
					},
					overlay : {
						speedOut : 0
					}
				}
			});
			});
</script>
</head>
<body>
<div class="container_full">
	<header>
    <div class="logo">
        <div class="logo_fest"><img src="images/logo_fest.png" alt=""/></div>
        <div class="paitu"><img src="images/paitu.png" alt=""/></div>
        <div class="wonder"><img src="images/wonder.png" alt=""/></div>	
        </div>
  </header><br class="clearfloat" />
    <div class="menubar">
    	<div class="menu">
       	  <ul id="button">
            	<li id="menu1"><a href="index.html"></a></li>
                <li id="menu2"><a href="morowali.html"></a></li>
                <li id="menu3"><a href="sukubajo.html"></a></li>
                <li id="menu4"><a href="festival.html"></a></li>
                <li id="menu5"><a href="galeri.html"></a></li>
            	<li id="menu6"><a href="update.html"></a></li>
                <li id="menu7"><a href="kontak.html"></a></li>
        </ul>
        </div>
    </div>
    <div class="container" style="border-bottom: 1px solid rgba(136,132,133,1.00)"><img src="images/galeri_ico.png"></div>
	<div class="container_isi">
    	<div class="boxes">
        	<div class="box">
            	<div class="box_photo">
                <a href="images/potho01.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho01.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                </p>
                
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho02.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho02.png" alt="" width="300px" height="auto"></a>
                </div>
                <p>
                	Lorem Ipsum has been the industry's standard dummy text ever since the 
                </p>
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho03.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho03.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	dummy text of the printing and typesetting industry standard dummy text ever since the 
                </p>
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho04.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho04.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                </p>
                
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho05.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho05.png" alt="" width="300px" height="auto"></a>
                </div>
                <p>
                	Lorem Ipsum has been the industry's standard dummy text ever since the 
                </p>
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho06.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho06.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	dummy text of the printing and typesetting industry standard dummy text ever since the 
                </p>
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho01.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho01.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                </p>
                
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho02.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho02.png" alt="" width="300px" height="auto"></a>
                </div>
                <p>
                	Lorem Ipsum has been the industry's standard dummy text ever since the 
                </p>
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho03.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho03.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	dummy text of the printing and typesetting industry standard dummy text ever since the 
                </p>
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho04.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho04.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry.  
                </p>
                
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho05.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho05.png" alt="" width="300px" height="auto"></a>
                </div>
                <p>
                	Lorem Ipsum has been the industry's standard dummy text ever since the 
                </p>
            </div>
            <div class="box">
            	<div class="box_photo">
                <a href="images/potho06.png" rel="single"  class="fancybox-effects-a" title="Tablet PC dengan harga satu jutaan" style="margin:0 10px 0 0;">
                <img src="images/potho06.png" alt="" width="300px" height="auto"></a></div>
                <p>
                	dummy text of the printing and typesetting industry standard dummy text ever since the 
                </p>
            </div>
            <br class="clearfloat" />
            	<div class="container">
         			<div class="pagination">
			<a href="#" class="page">first</a><a href="#" class="page">2</a><a href="#" class="page">3</a><span class="page active">4</span><a href="#" class="page">5</a><a href="#" class="page">6</a><a href="#" class="page">last</a>
					</div>
    			</div>
                </div>
        </div>
       <!-- end .boxes -->   
        
        <br class="clearfloat" />
    </section>
    <footer>
    	<ul class="sosmed">
        	<li><a href="#"><img src="images/icon_fb.jpg"></a></li>
            <li><a href="#"><img src="images/icon_twitter.jpg"></a></li>
            <li><a href="#"><img src="images/icon_pint.jpg"></a></li>
            <li><a href="#"><img src="images/icon_youtube.jpg"></a></li>
        </ul>
    	<p>
            Copyright &copy; Festival Bajo Pasakayyang 2015 All Right Reserved 
        </p>
  </footer>
</div>
</div>
	<style type="text/css">
		.fancybox-custom .fancybox-skin {
			box-shadow: 0 0 50px #222;
		}
	</style>
</body>
</html>
