<!DOCTYPE HTML>
<!--
Design by Free Responsive Templates
http://www.free-responsive-templates.com
Released for free under a Creative Commons Attribution 3.0 Unported License (CC BY 3.0) 
-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Festival Bajo Pasakayyang 2015</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
<div class="container_full">
	<header>
    <div class="logo">
        <div class="logo_fest"><img src="images/logo_fest.png" alt=""/></div>
        <div class="paitu"><img src="images/paitu.png" alt=""/></div>
        <div class="wonder"><img src="images/wonder.png" alt=""/></div>	
        </div>
  </header><br class="clearfloat" />
    <div class="menubar">
    	<div class="menu">
       	  <ul id="button">
            	<li id="menu1"><a href="index.html"></a></li>
                <li id="menu2"><a href="morowali.html"></a></li>
                <li id="menu3"><a href="sukubajo.html"></a></li>
                <li id="menu4"><a href="festival.html"></a></li>
                <li id="menu5"><a href="galeri.html"></a></li>
            	<li id="menu6"><a href="update.html"></a></li>
                <li id="menu7"><a href="kontak.html"></a></li>
        </ul>
        </div>
    </div>
    <div class="ilus" style="margin-bottom:20px"><img src="images/kontak_ilus.jpg">
     </div>
	<div class="container">

<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
  </div>
     <br class="clearfloat" />
     <div class="container_full bg">
    
		<!-- end .slider -->
        <!-- begin .boxes -->
        
       <div class="boxes">
        	<div class="box" style="text-align: right; line-height:33px; margin-top:20px">
            	<p style="font-size:18px; font-weight:bold">Contact Info</p>
<p>Lorem ipsum dolor sit amet, consecteturpiscinger elit um dolor sit amet, consecteturpiscing.
If you have any questions about customization of free themes, address 
to guys from TemplateTuning. Note that it's a paid service</p>
            </div>
            <div class="box">
            	<img src="images/kontak_ico.png" style="box-shadow:none">
            </div>
            <div class="box" style="text-align:left; line-height:33px; margin-top:20px">
				<p style="font-size:18px; font-weight:bold">NAMA KONTAK</p>
<p>Jl. Pangeran Diponegoro 9870 Teluk Jambe Morowali Selatan Indonesia Place, 
Glasgow, DC 45 Fr 45. 
Telephone		: +1 800 603 6035 
FAX				: +1 800 889 9898 
E-mail			: mail@demolink.org</p>
            </div>
            <br class="clearfloat" />
        </div>
  </div>
        <!-- end .boxes -->   
        
        <br class="clearfloat" />
    </section>
    <footer>
    	<ul class="sosmed">
        	<li><img src="images/icon_fb.jpg"></li>
            <li><img src="images/icon_twitter.jpg"></li>
            <li><img src="images/icon_pint.jpg"></li>
            <li><img src="images/icon_youtube.jpg"></li>
        </ul>
    	<p>
            Copyright &copy; Festival Bajo Pasakayyang 2015 All Right Reserved 
        </p>
  </footer>
</div>
</div>
</body>
</html>
