<!DOCTYPE HTML>
<!--
Design by Free Responsive Templates
http://www.free-responsive-templates.com
Released for free under a Creative Commons Attribution 3.0 Unported License (CC BY 3.0) 
-->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Festival Bajo Pasakayyang 2015</title>
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
<div class="container_full">
	<header>
    <div class="logo">
        <div class="logo_fest"><img src="images/logo_fest.png" alt=""/></div>
        <div class="paitu"><img src="images/paitu.png" alt=""/></div>
        <div class="wonder"><img src="images/wonder.png" alt=""/></div>	
        </div>
  </header><br class="clearfloat" />
    <div class="menubar">
    	<div class="menu">
       	  <ul id="button">
            	<li id="menu1"><a href="index.html"></a></li>
                <li id="menu2"><a href="morowali.html"></a></li>
                <li id="menu3"><a href="sukubajo.html"></a></li>
                <li id="menu4"><a href="festival.html"></a></li>
                <li id="menu5"><a href="galeri.html"></a></li>
            	<li id="menu6"><a href="update.html"></a></li>
                <li id="menu7"><a href="kontak.html"></a></li>
        </ul>
        </div>
    </div>
    <div class="ilus" style="margin-bottom:20px"><img src="images/morowali_ilus.jpg">
     </div>
	<div class="container">

<p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
  </div>
     <br class="clearfloat" />
     <div class="container_full bg" style="background-image:url(images/bg_isi2.png); background-repeat:repeat-x; height:414px">
    
		<!-- end .slider -->
        <!-- begin .boxes -->
        
       <div class="boxes">
        	<div class="box3">
            	<div><img src="images/potho1.jpg" alt=""  style="margin:20px 0"></div>
                <p>
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                </p>
            </div>
            <div class="box3">
            	<div><img src="images/potho2.jpg" alt=""  style="margin:20px 0"></div>
                <p>
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                </p>
   
            </div>
            <div class="box3">
            	<div><img src="images/potho3.jpg" alt=""  style="margin:20px 0"></div>
                <p>
                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 
                </p>

            </div>
            <br class="clearfloat" />
        </div>

        <!-- end .boxes -->   
        <div class="container">
        <div class="box2">Quibusdam et aut 
Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. 
At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
Temporibus autem
Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit </div>
        <div class="box2">Quibusdam et aut 
Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. 
At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
Temporibus autem
Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit </div>
    </section>
      </div>
  </div>
        <!-- end .boxes -->   
        
        <br class="clearfloat" />
    <footer>
    	<ul class="sosmed">
        	<li><img src="images/icon_fb.jpg"></li>
            <li><img src="images/icon_twitter.jpg"></li>
            <li><img src="images/icon_pint.jpg"></li>
            <li><img src="images/icon_youtube.jpg"></li>
        </ul>
    	<p>
            Copyright &copy; Festival Bajo Pasakayyang 2015 All Right Reserved 
        </p>
  </footer>
</div>
</div>
</body>
</html>
